
.home-banner {
  background-image: url("https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  margin: 50px;
  height: 100vh;
  max-height: 500px;
  color: #636466;
}

.home-banner h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: left;
  font-size: 60px;
}

.content-banner {
  padding-top: 24vh;
  padding-left: 24px;
}

.card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 24px;
  justify-items: center;
  // perspective: 1000px;
}

.flip-card {
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card-front, .card-back {
   position: absolute;
  // width: 100%;
  // height: 100%;
  backface-visibility: hidden;
}



// .card-container:hover .card-back {
//   transform: rotateY(0deg);
// }

.card-back {
  color: red;
  transform: rotateY(180deg);
}

// .card {
//   position: absolute;
//   transition: all 0.9s;
// }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
